.rule1 {
  border-top: 1px solid #dcdcdc;
}

.rule2 {
  float: right;
  width: 23%;
  margin-left: 2%;
}

.rule3 {
  font-weight: bold;
}

.rule4 {
  width: 50em;
  margin: 0 auto;
}

.rule5 {
  font-size: 3em;
}

.rule6 {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 19px;
}

.rule7 {
  font-size: 1.8em;
}

.rule8 {
  list-style-type: none;
  padding: 0;
}

.rule9 {
  float: left;
  width: 73%;
  margin-right: 2%;
}

.rule10 {
  width: 100%;
  clear: left;
}

.rule11 {
  padding: 1.5em 0;
}