/* General styles */
html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: -16px;
}

body {
  width: 80em;
  margin: 0 auto;
}

/* Typography section */
h1 {
  font-size: 4em;
}

h2 {
  font-size: 3.2em;
}

pl,i {
  font-size: 1.7em;
}

/* header and footer */
header, footer {
  background-colour: #7cb342;
  height: 10em
  padding: 2em;
}

h1, footer p {
  color: #fff;
  margin: -70px;
}

footer li {
  float: left
  list-style-type: none;
  padding:0.5em;
}

footer a {
  color: #fff;
}

h1 {
  text-align: center;
  padding: 0.5em 0;
}

/* main content */
main {
  padding: 2em;
}

main p, main li {
  line-height: 2;
}

img {
  float: left
  margin: 1.2em 2em;
}